@media screen and (max-width: 576px) {
    /* Navbar adjustments */
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid orange;
        margin-top: 0px;
    }
    .header-headline, .nav-links {
        display: none;
    }
    .nav-btn {
        display: none;
    }
    .nav-phn-btn{
        display:flex;
        margin-right: 15px;
        margin-bottom: -5px;
    }
   
    .header-logo{
        margin-left: 15px;
    }

    .banner {
        flex-direction: column-reverse;
        text-align: center;
        gap: 15px;
    }
    .banner-content {
        max-width: 100%;
    }
    .banner-header {
        font-size: 2rem;
        margin-bottom: 0px;
    }
    .banner-para {
        font-size: 1rem;
    }
    
    .banner-content, .banner-img {
        text-align: center;
    }
    .banner-img img {
        max-width: 100%;
        height: auto;
        margin-top: 15px;
    }

    /* curriculam section */
    .curriculam{
        flex-direction: column;
    }
    .school-curriculam-cards{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 15px;
    }
    .twobtns{
        display: none;
    }
}
